.profile-container {
    display: flex;
    justify-content: center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 450px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    /* padding: 50px 35px; */
    margin-top: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(26, 30, 39, 0.75);
    border-radius: 12px;
    display: flex;
}

.wrapper .left {
    width: 35%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(10, 5, 10, 0.5);
    padding: 120px 25px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    /* border-radius: 5px; */
    margin-bottom: 10px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 25px;
}

.wrapper .left p {
    font-size: 18px;
}

.wrapper .right {
    width: 65%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(26, 30, 39, 0.75);
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;

}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #fff;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.wrapper .social_media ul {
    display: flex;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
    line-height: 45px;
    list-style: none;
}

.wrapper .social_media ul li a {
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 5px;
}


@media (min-width: 768px) and (max-width: 1300px) {
    .wrapper {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 85%;
        height: auto;
    }

    .wrapper .left {
        width: 100%;
        padding: 50px 25px;
    }

    .wrapper .right {
        width: 100%;
    }
}