* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #242e3f;
  background-image:
    radial-gradient(at 47% 33%, hsl(187.20, 28.999999999999996%, 34%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(180.00, 23%, 17%) 0, transparent 55%);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: #121212;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 0.5rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #47a3ff;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #061dd28d;
  visibility: visible;
}